body{
background: linear-gradient(50deg, #d6c36e , #e96b67);
}
.container{
  display: flex;
  flex-direction: row;
}
.menu{
  background: #345cb1;
  color: #ffffff;
  width: 300px;
  height: 999px;
}
.main{
  text-align: center;
  margin-left: 400px;
  margin-top: 200px;
}
h1{
  font-family: monospace;
  color: #5c8efa;
  font-size: 50px;
}
p{
  color: #ffffff;
  font-family: fantasy;
  font-size: 18px;
}
input{
  width: 300px;
  height: 30px;
  border-style: none;
  padding: 0;
}
button{
  height: 30px;
  width: 50px;
  background: none;
  color: #ffffff;
  font-family: monospace;
  font-size: 16px;
  margin-left: 5px;
  border-style: none;
  cursor: pointer;
  padding: 0;
}
button:hover{
  background: #5c8efa;
}
.GoGrabber{
  font-size: 60px;
  color: #5c8efa;
  cursor: pointer;
}
.GoX{
  font-size: 60px;
  float: right;
  color: #e96b67;
  cursor: pointer;
}
li{
  list-style: none;
  font-size: 30px;
  color: #d6c36e;
  padding-top: 50px;
  padding-left: 40px;
  cursor: pointer;
}
li:hover{
  color: #ffffff;
}